.header {
  max-width: 60rem;
  margin: auto;
  padding: 2rem;
  display: flex;
  justify-content: center;
}

.list {
  display: flex;
  gap: 1rem;
}

.list a {
  text-decoration: none;
  color: var(--color-primary-400);
   padding: 5px 10px;
}

.list a:hover {
  color: var(--color-primary-800);
}

.list a.active {
   background-color: var(--color-primary-800);
   color: black;
   padding: 5px 10px;
   border-radius: 5px;
}